<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>AZEDict : 아재사전</title>
    <meta name="description" content="Middle aged men's Korean Dictionary">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
    <link rel="stylesheet" href="css/main.css">
</head>

<body>

<header>
    <nav>
        <div class="nav-wrapper teal lighten-2">
            <a href="/" class="brand-logo"><img src="img/azelogo.png" title="azedict" class="vertical-align-middle" /></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="about.html">about</a></li>
            </ul>
        </div>
    </nav>
</header>

<div class="container">
    <div>
        <form class="row valign-wrapper" v-on:submit.prevent>
            <div class="col s10">
                <div class="input-field">
                    <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                    <input id="search" type="search" v-model="keyword" @keyup="search" @keyup.enter="search">
                    <input style="visibility: hidden; width: 0px" class="hide">
                    <i class="material-icons">close</i>
                </div>
            </div>
            <div class="col s2">
                <button class="btn waves-effect waves-light" type="button" id="btnSearch" name="action" @click="search">검색
                    <i class="material-icons right">search</i>
                </button>
            </div>
        </form>
    </div>
    <div id="write_area" v-cloak>
        <a class="waves-effect waves-teal btn-flat teal lighten-5" v-on:click="isShow=true" v-show="isLogin && !isShow">등록폼 보이기<i class="material-icons left">unfold_more</i></a>
        <a class="waves-effect waves-teal btn-flat teal lighten-5" v-on:click="isShow=false" v-show="isLogin && isShow">등록폼 가리기<i class="material-icons left">unfold_less</i></a>
        <a class="waves-effect waves-teal btn-flat teal lighten-5" id="btnLogin" v-show="!isLogin">페이스북에 로그인하여 새단어등록하기<i class="material-icons left">perm_identity</i></a>
        <form class="col s12"  v-show="isLogin && isShow" v-on:submit.prevent>
            <div class="row">
                <div class="input-field col s8">
                    <input id="word_name" type="text" class="validate" v-model="word_name">
                    <label for="word_name">아재가 모르는 단어</label>
                </div>
                <div class="input-field col s4">
                    <div class="chip">
                        <img v-bind:src="photoURL" v-bind:alt="displayName" />{{ displayName }}
                        <a href="javascript:void(0)" v-on:click="logout">logout</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="textarea1" class="materialize-textarea" v-model="word_body"></textarea>
                    <label for="textarea1">아재에게 알려줄 단어의 내용</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="link1" type="text" class="validate" value="http://" v-model="link1">
                    <label for="link1">출처 링크</label>
                </div>
            </div>

            <div class="row">
                <button class="btn waves-effect waves-light" type="submit" id="btnSave" name="action">저장
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </form>
    </div>

    <div id="card-row">
        <div class="row" v-for="item in items" v-cloak>
            <div class="col s12 m12">
                <div class="card pink lighten-5">
                    <div class="card-content black-text">
                        <span class="card-title">{{ item.word_name }}</span>
                        <p> {{item.word_body}} </p>
                    </div>
                    <!--<div class="card-action">-->
                        <!--<a href="{{item.link}}" class="black-text">link1</a>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
        <div class="row" v-if="items.length === 0">
            <div class="col s12 center">
                <h5>검색창에 다른 단어를 입력해 보세요</h5>
            </div>
        </div>
    </div>

    <div id="card-count" v-cloak>
        <div class="row">
            <div class="col s12 center">
                <h6>현재까지 등록된 전체 단어 갯수는 {{ count }}개입니다.</h6>
            </div>
        </div>
    </div>

</div>

<footer class="page-footer teal lighten-2">
    <div class="footer-copyright">
        <div class="container ">
            © 2017 Juntai Park
            <span class="right">
                <a class="github-button" href="https://github.com/rkjun/azedict" data-show-count="true" aria-label="Star rkjun/azedict on GitHub">Star</a>
            </span>
        </div>
    </div>
</footer>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.1.3/firebase.js"></script>
<script src="https://unpkg.com/vue"></script>
<!--<script src="https://unpkg.com/vue@2.4.1/dist/vue.min.js"></script>-->
<script async defer src="https://buttons.github.io/buttons.js"></script>
<script src="js/main.js"></script>
<script>
</script>
</body>
</html>
